MONGO_URL=mongodb+srv://fargaderadhakrushna2004_db_user:kPNXFrF6hhYrnATL@stock.0dvpddp.mongodb.net/zerodha?appName=stock
JWT_SECRET=your-long-random-production-secret
FRONTEND_ORIGIN=https://zerodha-frontend34.netlify.app,https://zerodha-dasbhaord34.vercel.app
COOKIE_SAME_SITE=none
NODE_ENV=production
